:root {
    --font-roboto: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #080d08;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem 0 0 1rem;
    font-family: var(--font-roboto), sans-serif;
}

main {
    padding-right: 1rem;
}

.section-title {
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: -3.5px;
    color: white;
    margin: 1.5rem 0;
}

.bg-blue {
    background-color: #317bbb;
}

.bg-green {
    background-color: #004600;
}

.bg-red {
    background-color: #FA5053;
}